<mat-toolbar color="primary">
  <!-- <app-toggle-sidebar></app-toggle-sidebar> -->
  <span class="title">Awesome slider</span>
  <!-- <app-searchbar></app-searchbar>
  <app-toolbar></app-toolbar>
  <app-profile></app-profile> -->
  <!-- <div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="center">1</div>
    <div fxLayout="row" fxLayoutAlign="end">2</div>
  </div> -->

  <div fxLayout="row wrap" fxLayoutAlign="end end">
    <div fxLayout="column wrap" >
      1
    </div>
    <div fxLayout="column wrap" >
      2
    </div>
  </div>
</mat-toolbar>
