<div fxLayout="row wrap">
  <mat-toolbar color="primary">
    <div fxLayout="column" fxFlex="50">
      <div fxLayout="row">
        <div>
          logo
        </div>
        <div>
          Searchbar
        </div>
      </div>
    </div>
    <div fxLayout="column" fxFlex="50" fxLayoutAlign="start end">
      <div fxLayout="row">
        <div>
          Toolsbar
        </div>
        <div>
          Profile
        </div>
      </div>
    </div>
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
    <!-- <mat-icon class="example-icon">menu</mat-icon>
  <span>My App</span>
  <div>searchbar</div>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->

  </mat-toolbar>
</div>